<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Gestão de Títulos</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
	<header>
		<div th:insert="~{header :: menu}"></div>
	</header>
	
	<section layout:fragment="conteudo">
		<!-- Main Content -->
	</section>
	
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>