<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
 <script>
(function () {  
	'use strict';  
	window.addEventListener('load', function () {  
		var form = document.getElementById('titulo-validation');  
          form.addEventListener('submit', function (event) {  
              if (form.checkValidity() === false) {  
                  event.preventDefault();  
                  event.stopPropagation();  
               }  
               form.classList.add('was-validated');  
          }, false);  
    }, false);  
})();
</script>
    
<head th:replace="fragments/header :: header"></head>

<body><div th:insert="fragments/header :: menu"></div></body>

<div class="container">
    <form id="titulo-validation" novalidate class="form-horizontal" method="POST" th:action="@{/titulos}" th:object="${tituloDto}">
		<div th:include="~{fragments/mensagens}"></div>
    <div class="card">
        <div class="card-header">
          <label th:text="*{codigo==null ? 'Novo Título' : 'Alterar Título'}"></label>
          <a class="btn btn-dark btn-sm float-right" th:href="@{/titulos}" role="button">Voltar</a>
        </div>
        <div class="card-body">
        	<input type="hidden" th:field="*{codigo}"/>
            <div class="form-group row" th:classappend="${#fields.hasErrors('descricao')} ? was-validated">
              <label for="descricao" class="col-sm-2 col-form-label text-right">Descrição</label>
              <div class="col-sm-4">
                <input type="text" class="form-control required" id="descricao" placeholder="Descrição do Título" 
                	   maxlength="60" th:field="*{descricao}" required/>
                <div class="invalid-feedback">Descrição é obrigatória.</div>  
              </div>
            </div>
            <div class="form-group row" th:classappend="${#fields.hasErrors('dataVencimento')} ? was-validated">
              <label for="dataVencimento" class="col-sm-2 col-form-label text-right">Data de Vencimento</label>
              <div class="col-sm-2">
                <input type="text" class="form-control js-datepicker" id="dataVencimento" placeholder="dd/mm/yyyy" 
                			th:field="*{dataVencimento}" required 
                			data-provide="datepicker" data-date-autoclose="true" data-date-today-highlight="true" 
                			data-date-orientation="bottom"/>
                <div class="invalid-feedback">Data de vencimento é obrigatória.</div>  
              </div>
              <!-- <div class="text-center align-baseline">
        			<span class="glyphicon glyphicon-calendar"></span>
    			</div> -->
            </div>
            <div class="form-group row" th:classappend="${#fields.hasErrors('valor')} ? was-validated" >
              <label for="valor" class="col-sm-2 col-form-label text-right">Valor</label>
              <div class="col-sm-2">
                <input type="text" class="form-control js-currency" id="valor" placeholder="0,00" th:field="*{valor}" required/>
                <div class="invalid-feedback">Valor é obrigatório.</div>
              </div>
            </div>
            <div class="form-group row">
                  <label for="status" class="col-sm-2 col-form-label text-right">Status</label>
                    <div class="col-sm-2">
                      <select class="custom-select" th:field="*{indStatus}" required> 
                      	<option value="">Selecione</option> 
                        <option th:each="status : ${todosStatusTitulo}" th:value="${status}" th:text="${status.descricao}"></option>
                      </select>
                      <div class="invalid-feedback">Status é obrigatório.</div> 
                    </div>
            </div> 
            <div class="form-group row">
              <div class="col-sm-2 offset-md-2">
                <button type="submit" class="btn btn-primary btn-sm"><span th:text="*{codigo==null ? 'Salvar' : 'Alterar'}"></span></button>
              </div>
            </div>
      	</div>
     </div>
</form>
	<div th:include="fragments/footer :: footer"></div> 
</div>
</html>