<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
<head th:replace="fragments/header :: header"></head>
<meta name="csrf-token" th:content="${_csrf.token}"/>

<body><div th:insert="fragments/header :: menu"></div></body>

<div class="container">
       <div th:insert="fragments/mensagens :: success-alert"></div>
    <div class="card">
        <div class="card-header">
          <label class="font-weight-bold">Pesquisa de Títulos</label>
          <a class="btn btn-dark btn-sm float-right" th:href="@{/titulos/novo}" role="button">Novo Título</a>
        </div>
        <div class="card-body">
        <form method="GET" class="form-horizontal" th:action="@{/titulos}" th:object="${tituloCriteria}">
	   			<div class="form-group row">
	   				<div class="col-sm-4">
	   					<div class="input-group">
	   						<input type="text" class="form-control" placeholder="Qual título você está procurando?"
	   							autofocus="autofocus" th:field="*{descricao}"></input>
	   						<span class="input-group-btn">
	   							<button type="submit" class="btn btn-default">
	   								<i class="glyphicon glyphicon-search"></i>
	   							</button>
	   						</span>
	   					</div>
	   				</div>
	   			</div>
	   		</form>
	   	<div class="table-responsive">
			<table class="table table-sm table-bordered table-striped">
			 <caption>Lista de títulos</caption>
      			<thead class="thead-dark">
      				<tr>
      					<th scope="col" class="text-center">#</th>
      					<th scope="col" class="text-center">Decrição</th>
      					<th scope="col" class="text-center">Data de vencimento</th>
      					<th scope="col" class="text-center">Valor</th>
      					<th scope="col" class="text-center">Status</th>
      					<th scope="col" class="text-center">Ações</th>
      				</tr>
      			</thead>
      			<tbody>
 					<tr th:each="titulo : ${titulos}">
	   					<td class="text-center" th:text="${titulo.codigo}"></td>
	   					<td th:text="${titulo.descricao}"></td>
	   					
	   					<td class="text-center" th:text="${#dates.format(titulo.dataVencimento, 'dd/MM/yyyy')}"></td>
	   					<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
						<td class="text-center" th:attr="data-role=${titulo.codigo}">
	   						<span class="badge" th:text="${titulo.indStatus.descricao}"
	th:classappend="${#strings.toString(titulo.indStatus).trim().equalsIgnoreCase('PENDENTE') ? 'badge-danger' : 'badge-success'}">
							</span>
	   					</td>
	   					<td class="text-center align-baseline">
	   					    <a class="btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}" 
	   								rel="tooltip" data-placement="top" title="Editar">
	   							<img th:src="@{/img/pencil-2x.png}"/>
	   						</a>
	   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#idModalConfirmacaoExclusao"
	   							th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
	   								rel="tooltip" data-placement="top" title="Excluir">
	   							<img th:src="@{/img/trash-2x.png}" />
	   						</a>
	   						<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}"
	   								rel="tooltip" data-placement="top" title="Receber"
	   								th:attr="data-codigo=${titulo.codigo}"
	   								th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
	   							<span class="glyphicon glyphicon-check"></span>
	   						</a>
	   					</td>
	   				</tr>
	   				<tr>
	   					<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
	   				</tr>
      			</tbody>
      		</table>
      	</div>
      		<div th:replace="fragments/paginacao :: paginacao(${titulos})"></div>
      	</div>
     		<div th:include="fragments/dialogs :: modalConfirmacaoExclusao"></div>
     </div>
   <div th:include="fragments/footer :: footer"></div> 
</div>
</html>