<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
<head th:replace="fragments/header :: header"></head>

<body><div th:insert="fragments/header :: menu"></div></body>

<div class="container">
       <div th:insert="fragments/mensagens :: success-alert"></div>
    <div class="card">
        <div class="card-header">
          <label class="font-weight-bold">Pesquisa de Títulos</label>
          <a class="btn btn-dark btn-sm float-right" href="/titulos/novo" role="button">Novo Título</a>
        </div>
        <div class="card-body">
			<table class="table table-sm table-bordered table-striped">
			 <caption>Lista de títulos</caption>
      			<thead class="thead-dark">
      				<tr>
      					<th scope="col" class="text-center">#</th>
      					<th scope="col" class="text-center">Decrição</th>
      					<th scope="col" class="text-center">Data de vencimento</th>
      					<th scope="col" class="text-center">Valor</th>
      					<th scope="col" class="text-center">Status</th>
      					<th scope="col" class="text-center">Ações</th>
      				</tr>
      			</thead>
      			<tbody>
 					<tr th:each="titulo : ${titulos}">
	   					<td class="text-center" th:text="${titulo.codigo}"></td>
	   					<td th:text="${titulo.descricao}"></td>
	   					
	   					<td class="text-center" th:text="${#dates.format(titulo.dataVencimento, 'dd/MM/yyyy')}"></td>
	   					<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
						<td class="text-center">
	   						<span class="badge" th:text="${titulo.indStatus.descricao}"
	th:classappend="${#strings.toString(titulo.indStatus).trim().equalsIgnoreCase('PENDENTE') ? 'badge-danger' : 'badge-success'}">
							</span>
	   					</td>
	   					<td class="text-center align-baseline">
	   						<a th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}" title="Editar">
	   							<img src="/img/pencil-2x.png" class="img-fluid" title="Editar">
	   						</a>
	   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#idModalConfirmacaoExclusao"
	   							th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}">
	   							<img src="/img/trash-2x.png" class="img-fluid" title="Excluir">
	   						</a>
	   					</td>
	   				</tr>
	   				<tr>
	   					<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
	   				</tr>
      			</tbody>
      		</table>
      		<div th:replace="fragments/paginacao :: paginacao(${titulos})"></div>
      	</div>
     		<div th:include="fragments/dialogs :: modalConfirmacaoExclusao"></div>
     </div>
   <div th:include="fragments/footer :: footer"></div> 
</div>
</html>