<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="footer">
      &copy; 2019 Sample Spring MVC Web Application
	    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	    <script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/bootstrap-datepicker.js}"></script>
		<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
		<script th:src="@{/js/gestao-titulo.js}"></script>
    </div>

</html>