<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
  <head th:fragment="header">
    <!-- Meta tags OBRIGATÓRIAS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/glyphicons.css}"/>
    
	<title>Gestão de Títulos</title>
	
	<style>
		.page-item.active .page-link {
		  z-index: 1;
		  color: #ffffff;
		  background-color: #292b2c;
		  border-color: #ffffff;
		}
		.page-link {
		  color: #292b2c;
		}
	</style>
	
  </head>
    
  <body>

	<div th:fragment="menu">
	     	<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h1">Gestão de Títulos</span>
		</nav>
		<br/>
    </div>

  </body>
</html>