<!DOCTYPE html>
<html lang="pr-br"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
  <head th:fragment="header">
    <!-- Meta tags OBRIGATÓRIAS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/glyphicons.css}"/>
    
	<title>Gestão de Títulos</title>
	
	<style>
		.page-item.active .page-link {
		  z-index: 1;
		  color: #ffffff;
		  background-color: #292b2c;
		  border-color: #ffffff;
		}
		.page-link {
		  color: #292b2c;
		}
	</style>
	
  </head>
    
  <body>

	<div th:fragment="menu">
		<nav class="navbar navbar-dark bg-dark">
		  <span class="navbar-brand mb-0 h1">Gestão de Títulos</span>
		  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
		
		
		
		    <ul class="navbar-nav ml-auto nav-flex-icons">
		      <li class="nav-item avatar">
		        <a class="nav-link p-0" href="#">
		          <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-11.jpg" class="rounded-circle z-depth-0" height="35"> -->
		          <img th:src="@{/img/photos/avatar-01.jpg}" class="rounded-circle z-depth-0" height="35">
		        </a>
		      </li>
		    </ul>
		    
		    
		    
		    <ul class="navbar-nav navbar-right">
		     <!-- <li><a class="nav-link p-2" href="#"><span class="glyphicon glyphicon-user"></span> George Santos - ADM</a></li> -->
		      <li><a class="nav-link p-2" href="#"><span></span> George Santos - ADM</a></li>
		    </ul>
		       <ul class="navbar-nav navbar-right">
		      <!-- <li><a class="nav-link p-2" href="#"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li> -->
		      <li>
	      		<form th:action="@{/logout}" method="post" class="navbar-form navbar-right">
	        		<button type="submit" class="btn btn-link nav-link">
	        			<span class="glyphicon glyphicon-log-out"></span> Sair
	        		</button>
	        		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		      	</form>
		      </li>
		    </ul>
		
		</nav>
		<br/>
    </div>

  </body>
</html>